* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.header-button {
  padding-right: 10px;
}
.header-button > form {
  display: inline;
}
.header-button > form > button {
  padding: 0;
  border: none;
  background: none;
  display: inline-block;
}

#search-bar {
  height: 50px;
}
#search-bar > div {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #666;
  border-radius: 1em;
  height: 100%;
  margin-top: 0;
  padding: 0;
}
#search-bar > div:hover {
  border-color: #777;
}
#search-bar > div:has(> :focus-visible) {
  border-color: #aaa;
}
#search-bar > div > input {
  padding: 0.6em 1em;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  border-radius: 1em;
}
#search-bar > div > input:focus-visible {
  outline: none;
}
#search-bar > div > #search-icon {
  color: #a6a6a6;
}
#search-bar #search-icon {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.modslist-item {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #666;
  border-radius: 1em;
  transition: 0.2s ease;
}
.modslist-item:hover {
  background: linear-gradient(var(--bs-body-bg), #25282b);
  border-color: #777;
}
.modslist-item:hover > .buttons {
  opacity: 1;
}
.modslist-item > .info code {
  color: #aaa;
  background: #2f3239;
  padding: 2px 4px;
  border-radius: 3px;
  transition: 0.2s ease;
}
.modslist-item > .info code:hover {
  color: #ddd;
}
.modslist-item > h1 {
  margin: 0.3em 0;
}
.modslist-item > p:not(:last-child) {
  margin-bottom: 0.8em;
}
.modslist-item > .buttons {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 10px;
  opacity: 0;
  transition: 0.2s ease;
}
.modslist-item > .buttons > .btn {
  height: 28px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}
.modslist-item > .buttons > .switch {
  height: 28px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 56px;
}
.modslist-item > .buttons > .switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}
.modslist-item > .buttons > .switch > .slider {
  height: 28px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 56px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: 0.3s ease;
}
.modslist-item > .buttons > .switch > .slider:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 18px;
  height: 18px;
  transition: 0.4s ease;
  border-radius: 8px;
}
.modslist-item > .buttons > .switch > :not(:checked) + .slider {
  border: 1px solid #a5a5a5;
}
.modslist-item > .buttons > .switch > :not(:checked) + .slider::before {
  background-color: #b1b1b1;
}
.modslist-item > .buttons > .switch > input:checked + .slider {
  background: #389e27;
}
.modslist-item > .buttons > .switch > input:checked + .slider::before {
  background-color: white;
  transform: translateX(28px);
}

#back-to-top {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}